<ion-header>
    <ion-navbar color='cave-head'>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Carrière</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding class="cave-body">
    <img class="clicplace" (click)="clic()" src="assets/img/rock.png"/>
    <h1>Pierre : {{score | number}} <span class="unite">tas</span> </h1>
    <h2 class="text-center">Pioche en {{typehache[hache].mat }}</h2>
  <div *ngFor="let type of objectKeys(typehache)">
    <button *ngIf="type > hache" class="cave-ui" ion-button full (click)="pay(typehache[type].price)">Pioche en {{typehache[type].mat}} | Prix : {{typehache[type].price}} Rondins </button>
  </div>
  </ion-content>
  