<ion-header>
  <ion-navbar color='forest-head'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Forêt</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="forest-body">
  <img class="clicplace" (click)="clic()" src="assets/img/tree.png"/>
  <h1>Bois : {{score | number}} <span class="unite">rondins</span> </h1>
  <h2 class="text-center">Hache en {{typehache[hache].mat }}</h2>
<div *ngFor="let type of objectKeys(typehache)">
  <button *ngIf="type > hache" class="forest-ui" ion-button full (click)="pay(typehache[type].price)">Hache en {{typehache[type].mat}} | Prix : {{typehache[type].price}} Rondins </button>
</div>
</ion-content>
